<h1>Energy SUpply Contract Meta Data</h1>
<ul class="alt">
<% for (const [key, value] of Object.entries(myjson)){ %>
    <% if (key == "Properties") { %>
        <h2><%= `${key}` %></h2>
        <% for (const [key2, value2] of Object.entries(myjson["Properties"])) { %>
            <li><%= `${key2} :` %> <%= `${value2}` %></li>
        <% }  %>
        <% continue %>
    <% } %>
<li><%= `${key} :`%> <%= `${value}` %></li>
<% } %>
</ul>